body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.container {
    max-width: 767px;
    margin: 15px;
    padding: 0 30px;
    background-color: #fff;
}
.container .row > div {
    margin-bottom: 40px;
}
.container .row > div:last-child {
    margin-bottom: 0;
}
ul {
    margin-bottom: 30px;
}
li {
    margin: 5px 0;
}
